<HTML>
    <BODY bgcolor="LightGray">
    <form method="POST" action="">
        <center>
        <H1>Registration Form</H1> <br>
        <H2>Enter your details </H2> <br>
        Name  <input type = "text" name= "name" /> <br>
        <br>
        
        Age <input type = "number" name = "age" /> <br>
        <br>
        Email <input type = "email" name= "email" /> <br>
        <br>
        Phone <input type = "number" name = "phone" /> <br>
        <br>
        <input type = "submit">
        </center>
    </form>
    </BODY>
    </HTML>
